<div class="container col-lg-12">
<article id="about">
	<h2>About</h2>
	<p>No Place is the graduation film for a group of students from University for the Creative Arts.</p>
	<p>The film was shot on a tight budget over two weeks in Feburary 2013, in London.</p>
</article>
</div>