<div id="cast">
	<div class="container col-lg-12">
		<h1>Cast</h1>
		<div class="cast-member col-md-3 col-xs-6">
			<%= image_tag 'cast/dannielle.jpg', :class => 'img-responsive' %>
			<h3>Dannielle Norman </h3>
			<h4>Skylar</h4>
		</div>
		<div class="cast-member col-md-3 col-xs-6">
			<%= image_tag 'cast/seb.jpg', :class => 'img-responsive' %>
			<h3>Sebastian Sacco</h3>
			<h4>Will</h4>
		</div>
		<div class="cast-member col-md-3 col-xs-6">
			<%= image_tag 'cast/paul.jpg', :class => 'img-responsive' %>
			<h3>Paul Dewdney</h3>
			<h4>Tony</h4>
		</div>
		<div class="cast-member col-md-3 col-xs-6">
			<%= image_tag 'cast/lars.jpg', :class => 'img-responsive' %>
			<h3>Lars Byron</h3>
			<h4>Chancellor Craig</h4>
		</div>
	</div>
</div>


		