<article id="crew">
	<h2>Crew</h2>
	<div class="cast-member col-md-2 col-xs-6">
		<img src="http://placehold.it/350x350" class="img-responsive">
		<h3>Joeseph Beverley</h3>
		<h4>Writer &amp; Director</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum mattis id turpis eu semper. In dapibus lacinia turpis eu varius. Sed sodales ante id leo ornare vehicula. </p>
	</div>
	<div class="cast-member col-md-2 col-xs-6">
		<img src="http://placehold.it/350x350" class="img-responsive">
		<h3>Florence Hurley</h3>
		<h4>Producer</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum mattis id turpis eu semper. In dapibus lacinia turpis eu varius. Sed sodales ante id leo ornare vehicula. </p>
	</div>
	<div class="cast-member col-md-2 col-xs-6">
		<img src="http://placehold.it/350x350" class="img-responsive">
		<h3>Alyish Cannock</h3>
		<h4>Screenplay</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum mattis id turpis eu semper. In dapibus lacinia turpis eu varius. Sed sodales ante id leo ornare vehicula. </p>
	</div>
	<div class="cast-member col-md-2 col-xs-6">
		<img src="http://placehold.it/350x350" class="img-responsive">
		<h3>Troy Hunter</h3>
		<h4>Editor</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum mattis id turpis eu semper. In dapibus lacinia turpis eu varius. Sed sodales ante id leo ornare vehicula. </p>
	</div>
	<div class="cast-member col-md-2 col-xs-6">
		<img src="http://placehold.it/350x350" class="img-responsive">
		<h3>Dan Baines</h3>
		<h4>1st Assistant Director</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum mattis id turpis eu semper. In dapibus lacinia turpis eu varius. Sed sodales ante id leo ornare vehicula. </p>
	</div>
	<div class="cast-member col-md-2 col-xs-6">
		<img src="http://placehold.it/350x350" class="img-responsive">
		<h3>Duncan Trevithick</h3>
		<h4>Director of Photography</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum mattis id turpis eu semper. In dapibus lacinia turpis eu varius. Sed sodales ante id leo ornare vehicula. </p>
	</div>
	<div class="cast-member col-md-2 col-xs-6">
		<img src="http://placehold.it/350x350" class="img-responsive">
		<h3>Aidan Chase</h3>
		<h4>Sound Designer</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum mattis id turpis eu semper. In dapibus lacinia turpis eu varius. Sed sodales ante id leo ornare vehicula. </p>
	</div>
	<div class="cast-member col-md-2 col-xs-6">
		<img src="http://placehold.it/350x350" class="img-responsive">
		<h3>Jonathan Orrel</h3>
		<h4>Production Designer</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum mattis id turpis eu semper. In dapibus lacinia turpis eu varius. Sed sodales ante id leo ornare vehicula. </p>
	</div>
</article>


