 <footer class="content-info">
      <div class="container col-lg-12">
        <div class="pull-right">
          <p>Site design by <a href="http://www.twitter.com/dunctk">Duncan Trevithick</a></p>
          <p>Powered by <a href="http://pages.github.com/">GitHub Pages</a></p>
      </div>
    </footer>