<div id="story">
	<div class="container col-lg-12">
		<div class="col-lg-8 col-lg-offset-2">
		<h1>Story</h1>
		<p>Set in an alternate London after a catastrophic economic crash, the whole political and monetary system now rests in the hands of three remaining corporations.</p>
		<p>Young Will Aims works his way to the top of the system. His moral compass and girlfriend, Skylar rejects the new system, seeing the bigger picture, she tries to open Will's eyes.</p>
		<p>She fails and the relationship ends and Will, still believing he is choosing the best route to have a happy life, works hard to reach the top.</p>
		<p>He slowly begins to uncover the truth, that Skylar saw all along. A chance meeting brings the two back together, with Skylar by his side Will has a life changing decision to make, but it is harder than he ever expected.</p>
	</div>
	</div>

</div>