---
title: No Place Short Film
---

<div class="dark-section">
	<div class="container col-lg-12">
		<div class="row">
			<div class="col-lg-10 col-md-12 col-lg-offset-1">
				<div class="video-responsive">
					<iframe src="//player.vimeo.com/video/74914118?title=0&amp;byline=0" width="800" height="450" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
</div>
	
<%= partial "layouts/partials/story" %>
<%= partial "layouts/partials/cast" %>
<%= partial "layouts/partials/gallery" %>



